<ion-content>
  <div class="congratulation_screen">
    <div class="congratulation_panel">
      <img src="assets/images/regsconga.png" alt="congratulation_img" />
      <h3>Congratulations!</h3>
      <p>You have successfully registered yourself.</p>
      <ion-button color="warning" expand="full" shape="round" (click)="goLogin()" class="cus_btn">Find Nanny Now
      </ion-button>
    </div>
  </div>
</ion-content>