<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Nanny Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_img_section">
    <img [src]="profile_image != '' ? profile_image : 'assets/images/avatar.png'" alt="profile_img" />

    <!-- <div class="profile_upload_btn"><img src="assets/images/white_camera.png" alt="white_camera" /></div> -->
  </div>
  <div class="profile_info">
    <h4>{{username}}, {{userAge}}</h4>
    <p><img src="assets/images/location_icon.png" alt="location_icon" />&nbsp;{{address}}, {{city}}, {{state}}, {{zip}}
    </p>

    <div class="review_panel">
      <ion-grid class="reviewgrid">
        <ion-row>
          <ion-col>
            <h5>Review</h5>
            <div style="display: flex; align-items: baseline;">
              <ionic5-star-rating #rating activeIcon="star" defaultIcon="star" activeColor="#fec400"
                defaultColor="#c4c4c4" readonly="true" rating="{{avg_rate}}" fontSize="15px">
              </ionic5-star-rating>
              <p style="margin: 0; margin-left: 10px;">({{nannyReviewData.length}})</p>
            </div>
          </ion-col>
          <ion-col>
            <h5>Experience</h5>
            <h4>{{experience}} years</h4>
          </ion-col>
          <ion-col>
            <h5>Rate</h5>
            <h4>${{rate}}/<span *ngIf="rate_type == 'Daily'">dly</span><span *ngIf="rate_type == 'Hourly'">hr</span></h4>
          </ion-col>
        </ion-row>
      </ion-grid>

    </div>

    <div class="tabpanel">
      <ul>
        <li (click)="about()" [ngClass]="abactive"><a>About</a></li>
        <li (click)="gallery()" [ngClass]="glactive"><a>Gallery</a></li>
        <li (click)="review()" [ngClass]="rvactive"><a>Review</a></li>
      </ul>
      <div style="padding: 0 30px; margin-bottom: 10px;" *ngIf="showabout">
        <p style="text-align: left; font-size: 14px; color: #999999;">Full Name:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{username}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">Email:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{email}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">Phone:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{phone}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">Address:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{address}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">State:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{state}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">City:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{city}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">Zip:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{zip}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">About Note:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{nannyData[0].about_note}}</p>
      </div>
      <div style="padding: 0 10px; margin-bottom: 10px;" *ngIf="showgallery">
        <p *ngIf="nannyGalleryData.length == 0" style="font-weight: bold; font-size: 18px; color: #999999;">No Image
          Found!</p>
        <div class="gallery_box" *ngFor="let data of nannyGalleryData">
          <ion-img ionImgViewer scheme="dark" [src]="data.image"></ion-img>
        </div>
      </div>
      <div style="padding: 0 30px; margin-bottom: 10px;" *ngIf="showreview">
        <p *ngIf="nannyReviewData.length == 0" style="font-weight: bold; font-size: 18px; color: #999999;">No Review Found!</p>
        <ion-button *ngIf="nannyData[0].is_booked == 1" (click)="writeReview()" style="margin-top: 10px;" class="more_btn">Write a Review</ion-button>
        <ion-item button style="--padding-start: 0; --padding-end: 0;" *ngFor="let data of nannyReviewData" (click)="testClick()">
          <ion-avatar slot="start">
            <img [src]="data.parent_profile_image != '' ? data.parent_profile_image : 'assets/images/avatar.png'">
          </ion-avatar>
          <ion-label>
            <h2><strong>{{data.parent_fname}} {{data.parent_lname}}</strong></h2>
            <ionic5-star-rating activeIcon="star" defaultIcon="star" activeColor="#fec400"
                defaultColor="#c4c4c4" readonly="true" rating="{{data.rate}}" fontSize="15px">
              </ionic5-star-rating>
            <p style="text-align: left;">{{data.message}}</p>
          </ion-label>
        </ion-item>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer (click)="onCheck()">
  <ion-toolbar class="user-toolbar">
    <ion-button color="light" fill="clear" expand="full"
      style="font-weight: bold; font-family: 'Open Sans', sans-serif; font-weight: 600; text-transform: uppercase; font-size: 14px;">
      Check Availability</ion-button>
  </ion-toolbar>
</ion-footer>