<ion-header class="ion-no-border">
  <ion-toolbar class="provider-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title *ngIf="hideextra">Become A Nanny</ion-title>
    <ion-title *ngIf="!hideextra">Edit Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="step">
    <ul>
      <li class="activestep"><a></a><span>Step 1</span></li>
      <li><a></a><span>Step 2</span></li>
      <li><a></a><span>Step 3</span></li>
    </ul>
  </div>
  <div class="register_panel">
    <p style="color: #f44336; font-size: 12px; margin: 0 0 15px 0; text-align: right;">* Below all fields are mandatory *
    </p>
    <ion-select class="cust_input" [(ngModel)]="servicetype" placeholder="Type of Service" [interfaceOptions]="customActionSheetOptions"
      interface="action-sheet">
      <ion-select-option *ngFor="let type of servicetypeData" [value]="type.service_type_id">{{type.service_name}}</ion-select-option>
    </ion-select>        
    <ion-input class="cust_input" placeholder="First name" type="text" [(ngModel)]="fname"
      (keyup.enter)="onKeyboard(Field1)"></ion-input>
    <ion-input class="cust_input" placeholder="Last name" type="text" [(ngModel)]="lname"
      (keyup.enter)="onKeyboard(Field2)" #Field1></ion-input>
    <div class="dateofbirth" *ngIf="servicetype != 3">
      <ion-datetime class="cust_input" placeholder="Date of Birth" displayFormat="DD/MM/YYYY" [(ngModel)]="dob"
        (keyup.enter)="onKeyboard(Field3)" #Field2></ion-datetime>
    </div>
    <ion-input class="cust_input" placeholder="Address" type="text" [(ngModel)]="address"
      (keyup.enter)="onKeyboard(Field4)" #Field3></ion-input>
    <ion-input class="cust_input" placeholder="City" type="text" [(ngModel)]="city" (keyup.enter)="onKeyboard(Field5)"
      #Field4></ion-input>
    <ion-input class="cust_input" placeholder="State/Province" type="text" [(ngModel)]="state"
      (keyup.enter)="onKeyboard(Field6)" #Field5></ion-input>
    <ion-input class="cust_input" placeholder="ZIP/Postal" type="text" [(ngModel)]="zip"
      (keyup.enter)="onKeyboard(Field7)" #Field6></ion-input>
    <ion-input class="cust_input" placeholder="Phone" type="tel" maxlength="15" [(ngModel)]="phone" (keyup.enter)="onKeyboard(Field8)"
      #Field7></ion-input>
    <ion-input class="cust_input" placeholder="Emergency Phone" type="tel" maxlength="15" [(ngModel)]="emgnphone"
      (keyup.enter)="onKeyboard(Field9)" #Field8></ion-input>
    <ion-input *ngIf="hideextra" class="cust_input" placeholder="Email Address" type="email" [(ngModel)]="email"
      (keyup.enter)="onKeyboard(Field10)" #Field9></ion-input>
    <ion-input *ngIf="hideextra" class="cust_input" placeholder="Password" type="Password" [(ngModel)]="password"
      (keyup.enter)="onKeyboard(Field11)" #Field10></ion-input>
    <ion-input *ngIf="hideextra" class="cust_input" placeholder="Confirm Password" type="Password" [(ngModel)]="cnfpassword"
      (keyup.enter)="onKeyboard()" #Field11></ion-input>
  </div>
  <ion-toolbar>
    <ion-button color="success" slot="end" shape="round" (click)="onNext()" class="sml_cus_btn">Next &nbsp;<img
        src="assets/images/white_r_arrow.png" /></ion-button>
  </ion-toolbar>
</ion-content>