.notification{ padding: 0 20px; }

.notification_box{   
    background: #ffffff; box-shadow: #dddddd 0 0 10px; border-radius: 8px; margin: 20px 0; padding: 10px 15px; padding-left: 70px; position: relative; font-weight: 400; font-family: "Open Sans", sans-serif;
    p{ margin: 0; color: #444444; font-size: 14px; }
    span{ margin: 10px 0 0 0; color: #aaaaaa; font-size: 12px; display: block; font-style: italic; }
}
.notification_icon{ width: 70px; text-align: center; position: absolute; left: 0; top: 15px; }