<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-menu-button><img src="assets/images/menu_icon.png" style="height: 20px;" /></ion-menu-button>
    </ion-buttons>
    <div class="home_search" (click)="onFilter()">
      <img class="search_icon" src="assets/images/address_icon.png" />
      <ion-input class="search_input" placeholder="Search" disabled></ion-input>
      <img class="filter_icon" src="assets/images/filter_icon.png" alt="filter_icon" />
    </div>   
    <ion-buttons slot="end">
      <ion-tab-button tab="schedule" style="color: #ffffff;" (click)="onView()">
        <ion-badge *ngIf="profileData.unread_notifications != 0" style="background: red; text-align: center; top: 2px; left: 10px; z-index: 9; font-size: 9px; width: 15px; line-height: 15px; height: 15px; padding: 1px;">{{profileData.unread_notifications}}</ion-badge>
        <ion-icon name="calendar" style="font-size: 24px; padding: 5px; padding-left: 0;"></ion-icon>        
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/images/home_bg.png" style="width: 100%;" />
  <div style="padding: 0 20px;">
    <div class="parts">
      <h3>Search by service</h3>
      <ion-slides [options]="serviceList">
        <ion-slide *ngFor="let data of serviceData" (click)="goNannyList(data.service_name, data.service_type_id)">
          <a class="sericon"><img [src]="data.service_image" alt="icon" /><span>{{data.service_name}}</span></a>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="parts">
      <h3>Popular Nanny</h3>
      <ion-slides [options]="nannylistopt">
        <ion-slide *ngFor="let data of popularnannyData | slice:0:4" (click)="goNannyDetails(data.user_id)">
          <div class="sliderbox">           
            <div class="box_image"><img [src]="data.profile_image != '' ? data.profile_image : 'assets/images/avatar.png'" alt="slider" /></div>
            <div class="box_details">
              <div style="display: flex; align-items: center;">
                <ionic5-star-rating #rating activeIcon="star" defaultIcon="star" activeColor="#fec400"
                  defaultColor="#c4c4c4" readonly="true" rating="{{data.avg_rate}}" fontSize="15px">
                </ionic5-star-rating>
                <!-- <p *ngIf="data.avg_rate > 0" style="margin: 0; margin-left: 10px; font-size: 14px;">({{data.avg_rate}})</p> -->
              </div>
              <h3>{{data.fname}} {{data.lname}}, {{splitAge(data.age)}}</h3>
              <span>{{data.city}}</span>
              <a><img src="assets/images/licence_icon.png" alt="licence_icon" /></a>
              <a *ngIf="data.certificate == 'Yes'"><img src="assets/images/badge_icon.png" alt="badge_icon" /></a>
              <a *ngIf="data.comfortable_pet == 'Yes'"><img src="assets/images/paw_icon.png" alt="paw_icon" /></a>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
    <div class="parts">
      <h3>Recently Added</h3>
      <ion-slides [options]="nannylistopt">
        <ion-slide *ngFor="let data of nannyData | slice:0:4" (click)="goNannyDetails(data.user_id)">
          <div class="sliderbox">           
            <div class="box_image"><img [src]="data.profile_image != '' ? data.profile_image : 'assets/images/avatar.png'" alt="slider" /></div>
            <div class="box_details">
              <div style="display: flex; align-items: center;">
                <ionic5-star-rating #rating activeIcon="star" defaultIcon="star" activeColor="#fec400"
                  defaultColor="#c4c4c4" readonly="true" rating="{{data.avg_rate}}" fontSize="15px">
                </ionic5-star-rating>
                <!-- <p *ngIf="data.avg_rate > 0" style="margin: 0; margin-left: 10px; font-size: 14px;">({{data.avg_rate}})</p> -->
              </div>
              <h3>{{data.fname}} {{data.lname}}, {{splitAge(data.age)}}</h3>
              <span>{{data.city}}</span>
              <a><img src="assets/images/licence_icon.png" alt="licence_icon" /></a>
              <a *ngIf="data.certificate == 'Yes'"><img src="assets/images/badge_icon.png" alt="badge_icon" /></a>
              <a *ngIf="data.comfortable_pet == 'Yes'"><img src="assets/images/paw_icon.png" alt="paw_icon" /></a>
            </div>
          </div>
        </ion-slide>
      </ion-slides>
    </div>
  </div>
</ion-content>