.booking_tab{ 
    background: #fff0e3; padding: 15px 0;
    ul{ 
        padding: 0; margin: 0; list-style: none; text-align: center; 
        li{
            display:inline-block; width: 33.33%;
            a{ color: #888888; font-size: 15px; font-weight: 600; font-family: "Open Sans", sans-serif; display: block; text-decoration: none; position: relative; }
        }
        li.booking_active a{ color:#f38320; }
        li.booking_active a:after{ width: 100%; height: 3px; background: #f38320; position: absolute; bottom: -14px; left: 0; content: ""; }
    }
}
.blokingbox{ box-shadow: #dddddd 0 0 10px; border-radius: 8px; margin: 20px 0; }
.blokingbox_top{  padding: 0px 0; }

.booking_box_img{
    display: flex;
    .booking_box_img_l{ margin-right: 10px; height: 40px; width: 40px;
        img{ width:100%; height:100%;}
    }
    .booking_box_img_r{margin: 4px 0;
        h3{margin: 0; font-size: 18px; font-weight: 700; font-family: "Open Sans", sans-serif; color: #111111; }
        span{ color: #999999; font-weight:400; font-size: 12px; font-style: italic; font-family: "Open Sans", sans-serif; }
    }
}
.bookingdetails_btn{ letter-spacing: 0; margin: 7px 0; padding: 0 5px; border-radius: 8px; color: #f38320 !important; font-size: 12px; font-weight: 700; font-family: "Open Sans", sans-serif; --background: #fff; text-transform: capitalize; border: #f38320 solid 2px; width: 100%; height: 30px; --box-shadow: none; }
.booking_bottom{ padding: 5px;
    h5{ padding: 0 0 5px 0px; margin: 0; color: #f38320; font-size: 11px; font-weight: 700; font-family: "Open Sans", sans-serif; }
    h3{ padding: 0; margin: 0; color: #444444; font-size:13px; font-weight: 700; font-family: "Open Sans", sans-serif; }
}
