<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>My Bookings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <div class="booking_tab">
    <ul>
      <li><a href="">Past</a></li>
      <li><a href="">Current</a></li>
      <li class="booking_active"><a href="">Upcoming</a></li>
    </ul>
  </div> -->
  <div *ngIf="nofound" style="padding:50px 20px; color: #bfbfbf; font-weight: bold; font-size: 22px; text-align: center;">[ Sorry! Nothing Found. ]</div>
  <div style="padding: 0 20px;">
    <div class="blokingbox" *ngFor="let item of bookingData">
      <div class="blokingbox_top">
        <ion-grid>
          <ion-row>
            <ion-col size="8">
              <div class="booking_box_img">
                <div class="booking_box_img_l"><img [src]="item.provider_profile_image != '' ? item.provider_profile_image : 'assets/images/card_icon.png'" /></div>
                <div class="booking_box_img_r">
                  <h3>$ {{item.booking_amount}}</h3>
                  <span>{{item.created_at}}</span>
                </div>
              </div>
            </ion-col>
            <ion-col size="4">
              <ion-button (click)="goDetails(item.booking_id)" class="bookingdetails_btn">View Details</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <!-- <ion-grid class="booking_bottom">
        <ion-row>
          <ion-col>
            <h5>Booking Status</h5>
            <h3>{{item.booking_status}}</h3>
          </ion-col>
          <ion-col>
            <h5>End Date & Time</h5>
            <h3>{{item.end_date}}, {{item.end_time}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid> -->
    </div>    
  </div>
</ion-content>