<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Parent Registration</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="step">
    <ul>
      <li class="activestep"><a></a><span>Step 1</span></li>
      <li style="opacity: 0;"><a></a></li>
      <li class="activestep"><a></a><span>Step 2</span></li>
    </ul>
  </div>
  <div class="register_panel">
    <p style="color: #f44336; font-size: 12px; margin: 0 0 3px 0; text-align: right;">* About, Add Child & Medical fields are mandatory *
    </p>
    <ion-textarea maxlength="200" class="cust_input" style="height: auto; border-radius: 25px;" placeholder="Say something about you"
      [(ngModel)]="about" (keyup.enter)="onKeyboard(Field1)">
    </ion-textarea>
    <p style="color: #999999; font-size: 12px; margin: 0 0 15px 0; text-align: right;">{{about.length}}/200</p>
    <ion-item lines="none" class="pl_input" style="padding: 0 !important;" *ngFor="let data of childData;  let i = index">
      <ion-label style="font-size: 15px;">Child {{i+1}} Age</ion-label>
      <ion-button slot="end" color="warning" size="small" shape="round" style="box-shadow: none; text-transform: lowercase;">{{data.age}} yr {{data.month}} mth</ion-button>
    </ion-item>
    <div style="text-align: center;">
      <ion-button color="warning" size="small" shape="round" (click)="addMore()" style="text-transform: capitalize; height: 33px; width: 120px;">Add Child</ion-button>
    </div>
    <ion-item lines="none">
      <ion-label style="font-size: 15px;">Pets in House?</ion-label>
      <ion-toggle color="warning" [(ngModel)]="checkpet" [checked]="checkpet" (ionChange)="petChange($event)"></ion-toggle>
    </ion-item>

    <h3 style="padding: 0 10px; font-size: 16px;">Any Medical Condition?</h3>
    <ion-input class="pl_input" placeholder="Like: Medical, Allergy, etc.." type="text" [(ngModel)]="medical"
    (keyup.enter)="onKeyboard()" #Field1></ion-input>

    <ion-item lines="none">
      <p style="font-size: 15px;">Will you apply for a goverment subsidy?</p>
      <ion-toggle color="warning" style="width: 60px;" [(ngModel)]="checkgovsub" [checked]="checkgovsub" (ionChange)="subsidyChange($event)"></ion-toggle>
    </ion-item>

    <h3 style="padding: 0 10px; font-size: 16px;">What additional care needed?</h3>
    <ion-select multiple="true" class="pl_input" [(ngModel)]="getcareData" (ionChange)="selectCare()" placeholder="Select Care" [interfaceOptions]="customAlertOptions">
      <ion-select-option [value]="data.title" *ngFor="let data of careList">{{data.title}}</ion-select-option>
   </ion-select>
    <!-- <div *ngIf="getcareData != ''" style="background: #f2f2f2; padding: 10px; border-radius: 8px; margin: 15px 0; overflow: hidden;">
      <span *ngFor="let item of getcareData" class="tion">{{item.care}}</span>
    </div>
    <ion-item lines="none" *ngFor="let item of careList">
      <ion-checkbox slot="start" style="margin: 0; margin-right: 10px;" color="warning" (ionChange)="selectCare($event,item.title)"></ion-checkbox>
      <ion-label class="uplaodtext">{{item.title}}</ion-label>
    </ion-item> -->
    <ion-input *ngIf="otherbox" class="pl_input" placeholder="Like: Gardening, Beauty Care, etc.." type="text" [(ngModel)]="othercare"></ion-input>
  </div>
  <ion-toolbar class="ftr">
    <ion-button color="dark" slot="start" fill="clear" shape="round" (click)="onBack()" class="sml_cus_btn"
      style="box-shadow: none;">
      <img src="assets/images/black_l_arrow.png" />&nbsp; Back</ion-button>
    <ion-button *ngIf="hideextra" color="warning" slot="end" shape="round" (click)="onSubmit()" class="sml_cus_btn">Submit</ion-button>
    <ion-button *ngIf="!hideextra" color="warning" slot="end" shape="round" (click)="oneditSave()" class="sml_cus_btn">Save</ion-button>
  </ion-toolbar>
</ion-content>

<div class="custompop" *ngIf="pop">
  <div class="custompop_in">
    <div class="popin">
      <h3>Add Child</h3>
      <ion-item lines="none" class="pl_input" style="padding: 0 !important; margin-bottom: 30px; height: 60px;">
        <ion-label style="font-size: 14px; margin-top: 22px;">Child Age</ion-label>
        <div style="margin-right: 5px;">
          <label style="font-size: 12px;">Year</label>
          <div class="plusminus">
            <span class="btnleft" (click)="qntyearDown()">-</span>
            <span class="number">{{childageyear}}</span>
            <span class="btnright" (click)="qntyearUp()">+</span>
          </div>
        </div>
        <div style="margin-left: 5px;">
          <label style="font-size: 12px;">Month</label>
          <div class="plusminus">
            <span class="btnleft" (click)="qntmonthDown()">-</span>
            <span class="number">{{childagemonth}}</span>
            <span class="btnright" (click)="qntmonthUp()">+</span>
          </div>
        </div>
      </ion-item>
      <div style="display: flex;">
        <ion-button color="dark" expand="full" shape="round" (click)="closepop()" class="sml_cus_btn" style="width: 100%; box-shadow: none; margin: 0 3px;">Cancel</ion-button>
        <ion-button color="warning" expand="full" shape="round" (click)="onSave()" class="sml_cus_btn" style="width: 100%; box-shadow: none; margin: 0 3px;">Save</ion-button>
      </div>
    </div>
  </div>
</div>