<ion-header class="ion-no-border">
  <ion-toolbar class="provider-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Booking Details</ion-title>
    <ion-buttons slot="end">
      <ion-button style="color: #ffffff;">
        <a href="tel:{{bookingDetails.parent_phone}}" style="text-decoration: none !important;"><img style="height: 28px; margin-right: 5px;" src="assets/images/call.png" /></a>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding: 0 20px;">
    <div class="blokingbox">
      <ion-grid class="booking_bottom">
        <ion-row>
          <ion-col>
            <h5 style="font-size: 18px; padding: 5px 0;">#{{bookingDetails.booking_id}}</h5>
          </ion-col>
          <ion-col>
            <h5 style="font-size: 18px; padding: 5px 0; text-align: right;">${{bookingDetails.amount}}</h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="blokingbox">
      <div class="blokingbox_top">
        <ion-grid>
          <ion-row>
            <ion-col>
              <div class="booking_box_img">
                <div class="booking_box_img_l"><img [src]="bookingDetails.parent_profile_image != '' ? bookingDetails.parent_profile_image : 'assets/images/avatar.png'" /></div>
                <div class="booking_box_img_r">
                  <h3>{{bookingDetails.parent_fname}} {{bookingDetails.parent_lname}}</h3>
                  <span>{{bookingDetails.parent_phone}}</span>
                </div>
              </div>
            </ion-col>
          </ion-row>
        </ion-grid>
      </div>
      <ion-grid class="booking_bottom">
        <ion-row>
          <ion-col>
            <h5>Booking Date</h5>
            <h3>{{bookingDetails.date}}</h3>
          </ion-col>
          <ion-col>
            <h5>Time Slot</h5>
            <h3 style="text-transform: capitalize;">{{bookingDetails.time_slot}}</h3>
          </ion-col>
        </ion-row>
      </ion-grid>
      <ion-grid class="person_info">
        <ion-row>
          <ion-col>
            <h5>No of children:<span> {{bookingDetails.parent_children_no}}</span></h5>
            <h5>Booking Status: <b>Confirmed</b></h5>
            <h5 *ngIf="bookingDetails.service_is_completed == 1">Payment Status:
              <b *ngIf="bookingDetails.payment_request == 1" style="color: #ff5722;">Pending</b> 
              <b *ngIf="bookingDetails.payment_request == 2" style="color: #ff5722;">Paid</b>
            </h5>
          </ion-col>
        </ion-row>
      </ion-grid>
      <div class="locationbooking">
        <img class="locationbooking_l" src="assets/images/green_location.png" alt="green_location" />
        <h4>{{bookingDetails.parent_address}}</h4>
        <!-- <img class="locationbooking_r" src="assets/images/green_direction.png" alt="green_direction" /> -->
      </div>
    </div>
    <div style="padding: 10px 30px;" *ngIf="bookingDetails.service_is_completed == 1">
      <ion-button *ngIf="bookingDetails.payment_request == 0" color="success" expand="full" shape="round" (click)="onPayOut()" class="cus_btn">Payout Request</ion-button>
      <ion-button *ngIf="bookingDetails.payment_request == 1" style="opacity: 0.4;" color="success" expand="full" shape="round" class="cus_btn">Payout Request Sent</ion-button>
    </div>
  </div>
</ion-content>