.blokingbox{ box-shadow: #dddddd 0 0 10px; border-radius: 8px; margin: 20px 0; }
.blokingbox_top{ border-bottom:#dddddd solid 1px; padding: 5px 0; }

.booking_box_img{
    display: flex;
    .booking_box_img_l{ 
        width:40px; height:40px; border-radius:50%; margin-right: 10px;
        img{ width:100%; height:100%; border-radius:50%; }
    }
    .booking_box_img_r{margin: 4px 0;
        h3{margin: 0; font-size: 15px; font-weight: 700; font-family: "Open Sans", sans-serif; color: #222222; }
        span{ color: #444444; font-weight:400; font-size: 13px; font-style: italic; font-family: "Open Sans", sans-serif; }
    }
}
.booking_bottom{ padding: 5px;
    h5{ padding: 0 0 5px 0px; margin: 0; color: #41b578; font-size: 11px; font-weight: 700; font-family: "Open Sans", sans-serif; }
    h3{ padding: 0; margin: 0; color: #444444; font-size:13px; font-weight: 700; font-family: "Open Sans", sans-serif; }
}
.locationbooking{
    position: relative; background: #f6f6f6; padding: 15px 55px; border-top:#dddddd solid 1px;
    h4{ padding: 0; margin:7px 0; color: #888888; font-size: 14px; font-weight: 400; font-family: "Open Sans", sans-serif; }
}
.locationbooking_l{ position: absolute; top:15px; left: 15px; height: 30px; }
.locationbooking_r{ position: absolute; top:19px; right: 15px; height: 25px; }
.person_info{ padding: 5px; border-top:#dddddd solid 1px;
    h5{
        margin: 5px 0;
        color: #888888;
        font-size: 13px;
        font-weight: 400;
        font-family: "Open Sans", sans-serif;
    }
}
.person_info span, .person_info b{
    color:#41b578;
}