.step{ 
    background: #e7fef2; padding: 8px 0;
    ul{
        padding: 0; width: 300px; margin: 0 auto; margin-bottom: 5px; list-style: none; text-align: center; position: relative;
        li{ 
            display: inline-block; position: relative; padding: 0 15%; z-index: 999;
            a{ display: block; width: 22px; height: 22px; background: #fff; border:#41b578 solid 1px; border-radius:50%; position: relative; }  
            span{ display: block; color: #666666; font-size: 13px; font-weight: 400; font-family: 'Open Sans', sans-serif; margin: 7px 0 0 -5px; }
        }
        li:first-child{ padding-left: 0; }
        li:last-child{ padding-right: 0; text-align: right; }
        li.activestep a { width: 30px; height: 30px; background: #41b578; position: relative; z-index: 999; margin-top: 0; margin-left: -3px; top: 5px; }
        li.activestep a:after{ width: 13px; height: 5px; content: ""; position: absolute; border-left: 3px #ffffff solid; border-bottom: 3px #ffffff solid; transform: rotate(-45deg); left: 6px; top: 8px; }
    
    }
    ul:after {
        background: #cccccc; position: absolute; left: 0; right: 0; top: 18px; width: 80%; height: 2px; content: ""; margin: 0 auto; z-index: 0;
    }
}
.register_panel{ padding: 20px;}
.sml_cus_btn{ box-shadow: #9be2bd 0 0 15px 5px; margin: 20px; border-radius: 30px; }
.uplaodtext{
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Open Sans', sans-serif;
}
.uplaodbtn{
    color: #41b578;
    font-size: 11px;
    font-weight: 700;
    font-family: "Open Sans", sans-serif;
    background-color: #ffffff;
    padding: 6px 12px;
    border-radius: 30px;
    text-transform: uppercase;
    margin: 0;
}
.sml_img{
    position: relative; width: 68px; height: 60px; border-radius: 6px; margin: 1px 3px; overflow: hidden; display: inline-block;
    ion-img{object-fit: cover; width: 100%;}
    span{position: absolute; color: red; top: 3px; right: 3px; background: #ffffff; padding: 3px 6px 4px 6px; border-radius: 15px; z-index: 99; font-size: 13px; font-weight: bold; line-height: 12px;}
}