<ion-header class="ion-no-border">
  <ion-toolbar class="provider-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>My Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="profile_img_section">
    <ion-img [src]="profilePic != '' ? profilePic : 'assets/images/avatar.png'"></ion-img>
    <div class="profile_upload_btn" (click)="uploadPP()"><img src="assets/images/white_camera.png" alt="white_camera" /></div>
  </div>
  <div class="profile_info">
    <h4>{{profileData.fname}} {{profileData.lname}}, {{age}}</h4>
    <p><img src="assets/images/location_icon.png" alt="location_icon" />&nbsp;{{profileData.address}},
      {{profileData.city}}, {{profileData.zip}}
    </p>

    <div class="review_panel">
      <ion-grid class="reviewgrid">
        <ion-row>
          <ion-col>
            <h5>Review</h5>
            <div style="display: flex; align-items: baseline;">
              <ionic5-star-rating #rating activeIcon="star" defaultIcon="star" activeColor="#fec400"
                defaultColor="#c4c4c4" readonly="true" rating="{{profileData.avg_rate}}" fontSize="15px" style="margin-top: 5px;">
              </ionic5-star-rating>
              <span  *ngIf="profileData.avg_rate > 0" style="margin-left: 6px; position: relative; top: -2px; font-size: 13px;">({{profileData.reviews.length}})</span>
           </div>
          </ion-col>
          <ion-col>
            <h5>Experience</h5>
            <h4>{{profileData.experience}} years</h4>
          </ion-col>
          <ion-col>
            <h5>Rate</h5>
            <h4>$ {{profileData.rate}}/hr</h4>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div class="tabpanel">
      <ul>
        <li (click)="about()" [ngClass]="abactive"><a>About</a></li>
        <li (click)="gallery()" [ngClass]="glactive"><a>Gallery</a></li>
        <li (click)="review()" [ngClass]="rvactive"><a>Review</a></li>
      </ul>

      <div style="padding: 0 30px; margin-bottom: 10px;" *ngIf="showabout">
        <p style="text-align: left; font-size: 14px; color: #999999;">Full Name:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{profileData.fname}} {{profileData.lname}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">Email:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{profileData.email}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">Phone:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{profileData.phone}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">Address:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{profileData.address}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">State:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{profileData.state}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">City:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{profileData.city}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">Zip:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{profileData.zip}}</p>
        <p style="text-align: left; font-size: 14px; color: #999999;">About Note:</p>
        <p style="text-align: left; font-weight: bold; font-size: 16px; color: #666666;">{{profileData.about_note}}</p>
      </div>

      <div style="padding: 0 10px; margin-bottom: 10px;" *ngIf="showgallery">
        <div class="gallery_box" (click)="uploadGP()">
          <div class="addgallery">
            <img src="assets/images/white_camera2.png" alt="white_camera2" />
            <span>Add Image</span>
          </div>
        </div>
        <div class="gallery_box" *ngFor="let item of galleryData">
          <ion-img ionImgViewer scheme="dark" [src]="item.image"></ion-img>
          <strong (click)="rmimage(item.user_id, item.gallery_image_id)">x</strong>
        </div>
      </div>

      <div style="padding: 0 15px; margin-bottom: 10px;" *ngIf="showreview">
        <p *ngIf="reviewData == ''" style="font-weight: bold; font-size: 18px; color: #999999;">No Review Found!</p>
        <div *ngIf="reviewData != ''">
          <ion-item *ngFor="let data of reviewData">
            <ion-avatar slot="start">
              <img [src]="data.parent_profile_image != '' ? data.parent_profile_image : 'assets/images/avatar.png'" />
            </ion-avatar>
            <ion-label>
              <h3><strong>{{data.parent_first_name}} {{data.parent_last_name}}</strong></h3>
              <ionic5-star-rating #rating activeIcon="star" defaultIcon="star" activeColor="#fec400"
                  defaultColor="#c4c4c4" readonly="true" rating="{{data.rate}}" fontSize="13px">
              </ionic5-star-rating>
              <p style="text-align: left;">{{data.message}}</p>
            </ion-label>
          </ion-item>
        </div>
      </div>
    </div>
  </div>
</ion-content>

<ion-footer (click)="goEdit()">
  <ion-toolbar class="provider-toolbar">
    <ion-button color="light" fill="clear" expand="full"
      style="font-weight: bold; font-family: 'Open Sans', sans-serif; font-weight: 600; text-transform: uppercase; font-size: 14px;">
      Edit Profile</ion-button>
  </ion-toolbar>
</ion-footer>