<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="nannydetails" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Check Availability</ion-title>
    <ion-buttons slot="end">
      <ion-tab-button tab="schedule" style="color: #ffffff;" (click)="onView()">
        <ion-icon name="calendar"></ion-icon>
        <ion-label>Schedule</ion-label>
        <!-- <ion-badge style="background: red;">5</ion-badge> -->
      </ion-tab-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding:0 20px;">
    <h2 style="text-align: center; font-weight: bold; margin-bottom: 20px;">{{viewTitle}}</h2>
    <calendar [lockSwipes]="lockSwipes" [markDisabled]="markDisabled" [eventSource]="eventSource"
      [monthviewDisplayEventTemplate]="template" [calendarMode]="calendar.mode" [currentDate]="calendar.currentDate"
      (onCurrentDateChanged)="onCurrentDateChanged($event)" (onEventSelected)="onEventSelected($event)"
      (onTitleChanged)="onViewTitleChanged($event)" (onTimeSelected)="onTimeSelected($event)" step="30">
    </calendar>
    <ng-template #template let-view="view" let-row="row" let-col="col">
      <div *ngIf="view.dates[row*7+col].events == ''">{{view.dates[row*7+col].label}}</div>
      <div *ngFor="let obj of view.dates[row*7+col].events">
        <p style="margin: 0; padding: 8px;" [ngStyle]="{'background': formatColor(obj.timeslot) } ">
          {{view.dates[row*7+col].label}}
        </p>
      </div>
    </ng-template>
    <div style="padding: 15px;">
      <p
        style="margin: 8px 0; color: blue; font-weight: bold; background-color: #eeeeee; padding: 10px 15px; border-radius: 10px;">
        <ion-icon name="square" style="color: blue; margin-right: 10px; position: relative; top: 3px"></ion-icon>Full
        Day
      </p>
      <p
        style="margin: 8px 0; color: green; font-weight: bold; background-color: #eeeeee; padding: 10px 15px; border-radius: 10px;">
        <ion-icon name="square" style="color: green; margin-right: 10px; position: relative; top: 3px"></ion-icon>
        Morning Shift
      </p>
      <p
        style="margin: 8px 0; color: red; font-weight: bold; background-color: #eeeeee; padding: 10px 15px; border-radius: 10px;">
        <ion-icon name="square" style="color: red; margin-right: 10px; position: relative; top: 3px"></ion-icon>Night
        Shift
      </p>
    </div>
  </div>
</ion-content>

<ion-footer (click)="onCheck()">
  <ion-toolbar class="user-toolbar">
    <ion-button color="light" fill="clear" expand="full"
      style="font-weight: bold; font-family: 'Open Sans', sans-serif; font-weight: 600; text-transform: uppercase; font-size: 14px;">
      Book Schedule</ion-button>
  </ion-toolbar>
</ion-footer>

<div class="custompop" *ngIf="pop">
  <div class="custompop_in">
    <div class="popin">
      <h3>Request Schedule</h3>
      <div style="padding-bottom: 20px; padding-top: 5px;">
        <div class="dateofbirth">
          <ion-datetime class="cust_input" [min]="todayDate" placeholder="Select Date" displayFormat="DD/MM/YYYY" [(ngModel)]="date"
            (keyup.enter)="onKeyboard(Field3)" #Field2></ion-datetime>
        </div>
        <ion-select class="cust_input" [(ngModel)]="timeslot" placeholder="Select Time Slot"
          [interfaceOptions]="customActionSheetOptions" interface="action-sheet">
          <ion-select-option value="Full Day">Full Day</ion-select-option>
          <ion-select-option value="Morning">Morning</ion-select-option>
          <ion-select-option value="Night">Night</ion-select-option>
        </ion-select>
        <ion-input type="tel" [(ngModel)]="workinghour" class="cust_input" placeholder="Booking Hours"><span>${{rate}}/hr</span></ion-input>
      </div>      
      <div style="display: flex;">
        <ion-button color="dark" expand="full" shape="round" (click)="closepop()" class="sml_cus_btn"
          style="width: 100%; box-shadow: none; margin: 0 3px;">Cancel</ion-button>
        <ion-button color="warning" expand="full" shape="round" (click)="onSave()" class="sml_cus_btn"
          style="width: 100%; box-shadow: none; margin: 0 3px;">Sent Request</ion-button>
      </div>
    </div>
  </div>
</div>