<ion-content>
  <div class="welcome_top">
    <img src="assets/images/welcome_bg.jpg" alt="welcome_bg" />
  </div>
  <div class="welcomelogo">
    <img src="assets/images/welcome_logo.jpg" alt="welcome_logo" />
  </div>
  <div class="welcome_text">
    <h4>Welcome to</h4>
    <h2>Nanny on Demand</h2>
    <ion-button color="warning" expand="full" shape="round" (click)="goUser()" class="cus_btn">Looking for a provider
    </ion-button>
    <ion-button color="success" expand="full" shape="round" (click)="goProvider()" class="cus_btn">Become a provider
    </ion-button>
    <p (click)="goLogin()"> Already have an account? <a>Login</a></p>
  </div>
</ion-content>