<ion-header class="ion-no-border">
  <ion-toolbar class="user-toolbar">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="welcome" style="color: #ffffff;"></ion-back-button>
    </ion-buttons>
    <ion-title>Make Payment</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="total_top">
    <ion-grid>
      <ion-row>
        <ion-col size="9">Total Payable Amount
          <!-- <img src="assets/images/info_icon_orng.png"
            style="height: 18px; top: 3px; left: 3px; position: relative;" /> -->
        </ion-col>
        <ion-col size="3" class="total_top_right">${{order_final_total}}</ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <div style="padding: 10px 20px;">
    <h3>Selected Booking Date</h3>
    <div class="select_method">
      <ion-item lines="none" class="pl_input"
        style="padding: 0 !important; position: relative; --background: #eeeeee; margin: 1px 0;"
        *ngFor="let data of paydata.reverse();">
        <ion-label style="font-size: 14px;">{{data.date}}</ion-label>
        <ion-badge slot="end" color="warning" style="border-radius: 20px; padding: 3px 10px; margin-right: 5px;">
          {{data.time_slot}} / $ {{data.amount}}
        </ion-badge>
      </ion-item>
    </div>
    <h3>Select your method</h3>
    <div class="select_method">
      <ul>
        <li [class.pay_method_active]="selectedChip == 0" (click)="onFilterPayment(0)">
          <a>
            <div style="text-align: center; display: table-cell; vertical-align: middle;">
              <span>Saved Cards</span>
              <img class="cardmethod_normal" src="assets/images/card_icon.png" />
              <img class="cardmethod_normal_active" src="assets/images/card_icon_white.png" />
            </div>
          </a>
        </li>
        <li [class.pay_method_active]="selectedChip == 1" (click)="onFilterPayment(1)">
          <a>
            <div style="text-align: center; display: table-cell; vertical-align: middle;">
              <span>New Cards</span>
              <img class="cardmethod_normal" src="assets/images/card_icon.png" />
              <img class="cardmethod_normal_active" src="assets/images/card_icon_white.png" />
            </div>
          </a>
        </li>
        <li [class.pay_method_active]="selectedChip == 2" (click)="onFilterPayment(2)">
          <a>
            <div style="text-align: center; display: table-cell; vertical-align: middle;">
              <img class="cardmethod_normal" src="assets/images/paypal_icon_normal.png" />
              <img class="cardmethod_normal_active" src="assets/images/paypal_icon_active.png" />
            </div>
          </a>
        </li>
      </ul>
    </div>
    <div *ngIf="selectedChip == 0">
      <ion-card class="driver-card-box" *ngFor="let data of cardData; let i = index" (click)="cardSelected(data, i)">
        <div style="display: flex;align-items: center;justify-content: space-between;padding-right: 10px;">
          <ion-card-header>
            <ion-card-subtitle class="card-subtitle">Cardholder's Name</ion-card-subtitle>
            <ion-card-title class="card-title">{{data.account_name}}</ion-card-title>
          </ion-card-header>
          <ion-icon [name]="cardSelectedChip == i ? 'checkmark-circle-outline' : 'ellipse-outline'"
            style="font-size: 28px;"></ion-icon>
          <!-- <ion-icon [name]="ellipse-outline" style="font-size: 28px;"></ion-icon> -->
          <!--  <ion-radio-group value="biff">
            <ion-radio mode="android" ></ion-radio>
          </ion-radio-group> -->

          <!-- <ion-checkbox mode="ios" color="success"></ion-checkbox> -->
        </div>
        <ion-card-header>
          <ion-card-subtitle class="card-subtitle">Card Number</ion-card-subtitle>
          <ion-card-title class="card-title">{{data.card_no}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ul>
            <li>
              <h4>Expiry Date</h4>
              <h3>{{data.exp_month}}/{{data.exp_year}}</h3>
            </li>
            <li>
              <h4>CVC</h4>
              <h3>{{data.card_cvc}}</h3>
            </li>
          </ul>
        </ion-card-content>
      </ion-card>
    </div>
    <div *ngIf="selectedChip == 1">
      <h3>Enter Your Payment Details</h3>
      <div class="cust_input payment_textbox">
        <ion-label>CARDHOLDER NAME</ion-label>
        <ion-input placeholder="Please Enter Your Name" [(ngModel)]="cardholdername"></ion-input>
      </div>
      <div class="cust_input payment_textbox">
        <ion-label>CARD Number</ion-label>
        <ion-input placeholder="**** **** **** 1234" [(ngModel)]="cardnumber"></ion-input>
      </div>
      <div style="display: flex;">
        <div class="cust_input payment_textbox" style="margin-right: 1%;">
          <ion-label>Expiry Date</ion-label>
          <ion-datetime placeholder="" [min]="currentDate" [max]="maxDate" displayFormat="MM / YY"
            [(ngModel)]="expirydate"></ion-datetime>
        </div>
        <div class="cust_input payment_textbox" style="margin-left: 1%;">
          <ion-label>CVC
            <!--  <span>?</span> -->
          </ion-label>
          <ion-input placeholder="***" [(ngModel)]="cvv"></ion-input>
        </div>
      </div>
      <ion-item lines="none">
        <ion-label style="font-size: 14px;">Remember my card details</ion-label>
        <ion-toggle color="warning" [(ngModel)]="remember"></ion-toggle>
      </ion-item>
    </div>

    <div style="padding: 30px 30px 0 30px;">
      <ion-button color="warning" slot="end" shape="round" expand="full" (click)="onPay()" class="cus_btn">Pay Now
      </ion-button>
    </div>
  </div>
</ion-content>