.total_top{ background:#fff0e3; padding: 6px 5px; color: #f38320; font-weight: 700; font-family: "Open Sans", sans-serif; font-size: 17px; }
.total_top_right{ text-align: right; }
h3{color: #222222; font-size: 18px; font-weight: 600; font-family: "Open Sans", sans-serif;}

.select_method ul{
    padding: 0 0 15px 0; margin: 0; list-style:none; text-align: center;
    li {
        display: inline-block; vertical-align: middle; margin: 0 1%; width: 31.33%; position: relative;
        a{ padding: 5px; text-align: center; background: #f6f6f6; border-radius:5px; border:#ccc solid 1px; text-decoration: none; height: 95px; display: table; width: 100%; 
            span{ color: #999999; font-size:12px; font-weight: 400; font-family: "Open Sans", sans-serif; display: block; padding: 0 0 5px 0;
            }
        }

    }
}
.select_method ul li a img.cardmethod_normal{ display:inline-block; }
.select_method ul li a img.cardmethod_normal_active{ display:none; }
.select_method ul li.pay_method_active a{ background: #f38320; color: #fff; }
.select_method ul li.pay_method_active a img.cardmethod_normal{ display:none; }
.select_method ul li.pay_method_active a img.cardmethod_normal_active{ display:inline-block; }
.select_method ul li.pay_method_active a span{ color: #fff; }

.payment_textbox{
    height: auto;
    border-radius: 20px;
    padding: 10px 15px !important;
    ion-input, ion-datetime{ height: 40px; background: #f9f9f9; padding: 5px 10px !important; border-radius: 10px; margin: 8px 0 5px 0; color: #000000; font-weight: 600; font-family: 'Open Sans', sans-serif;}
    ion-label{ color: #666666; font-size: 13px; font-weight: 400; font-family: "Open Sans", sans-serif; 
        span{
            background: #cccccc;
            padding: 0px 7px;
            color: #000000;
            font-weight: bold;
            border-radius: 30px;
            margin-left: 5px;
            font-size: 15px;
        }
    }
    ion-datetime{padding-top: 10px !important;}
}
.cust_input:hover{ border-color: #f38320; box-shadow: #fff0e3 0 0 6px 4px;}
ion-card.selected {
    background: red;
  }
.driver-card-box {
	background: #f38320;
	color: #fff;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    position: relative;
    //padding: 8px;
    border-radius: 12px;
    span{position: absolute; right: 0; top: 5px; padding: 15px; color: #ffffff; z-index: 99; font-size: 22px; line-height: 15px;}
}
.card-title {
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	margin: 5px 0 0 0;
	font-weight: bold;
    letter-spacing: 1px;
}
.card-subtitle {
	color: #fff;
	margin: 0;
	text-transform: capitalize;
}
.driver-card-box ul {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	justify-content: space-between;
}
.driver-card-box ul h4 {
	font-size: 14px;
}
.driver-card-box ul h3 {
	font-size:16px;
	color: #fff;
	font-weight: bold;
    letter-spacing: 1px;
}