<div class="bookpopup">
  <div class="bookpopup_main">
    <div class="bookpopup_main_in">
      <div style="background: #41b578; width: 90px; height: 90px; border-radius: 50%; margin: 0 auto; padding: 18px 0; text-align: center;"><img src="assets/images/card_icon_white.png" style="width: 62px;" /></div>
      <h3>Payment Mode</h3>
      <p>Please setup your Payment.<br/>You can get your money by using this type of Payment Mode.</p>
      <ion-list>
        <ion-radio-group [(ngModel)]="paymentType" (ionChange)="onPayType()">
          <ion-item lines="none">
            <ion-label>Stripe</ion-label>
            <ion-radio slot="start" color="success" value="Stripe"></ion-radio>
          </ion-item>
      
          <ion-item lines="none">
            <ion-label>Paypal</ion-label>
            <ion-radio slot="start" color="success" value="Paypal"></ion-radio>
          </ion-item>
      
        </ion-radio-group>
      </ion-list>
      <ion-button [disabled]="isShow" color="success" expand="full" shape="round" class="cus_btn" (click)="onConnect()">Connect</ion-button>
    </div>
    <ion-button *ngIf="paymentMethod != ''" color="warning" fill="outline" shape="round" (click)="close()" style="margin-top: 20px;">Skip</ion-button>    
  </div>
</div>

<!-- 

<ion-content>
  <div class="welcomelogo">
    <img src="assets/images/welcome_logo.jpg" alt="welcome_logo" />
  </div>
  <div class="welcome_text">
    <h2>Payment</h2>
    <p>Please set up a Stripe account by clicking this link so that you could receive Credit card payments from your customers. Please register with PayPal to be able to receive PayPal payments.</p>
    <ion-radio-group [(ngModel)]="paymentType">  
      <ion-item lines="none">        
        <ion-radio value="stripe"></ion-radio>
        <ion-label style="font-size: 14px; margin-left: 15px;">Stripe</ion-label>
      </ion-item>  
      <ion-item lines="none">        
        <ion-radio value="paypal"></ion-radio>
        <ion-label style="font-size: 14px; margin-left: 15px;">Paypal</ion-label>
      </ion-item>
    </ion-radio-group>
    <ion-button color="warning" expand="full" shape="round" (click)="onConnect()" class="cus_btn">Connect</ion-button>
    <ion-button color="success" expand="full" shape="round" (click)="goProvider()" class="cus_btn">Next</ion-button>
  </div>
</ion-content>
 -->